/* 
    Document   : style
    Created on : 25/04/2014, 18:06:43
    Author     : Juan Ramos

*/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?4np8x8');
    src: url('fonts/icomoon.eot?#iefix4np8x8') format('embedded-opentype'), url('fonts/icomoon.woff?4np8x8') format('woff'), url('fonts/icomoon.ttf?4np8x8') format('truetype'), url('fonts/icomoon.svg?4np8x8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniE603:before {
    content: "\e603";
}

.icon-profile:before {
    content: "\e601";
}

.icon-user:before {
    content: "\e602";
}

.icon-signup:before {
    content: "\e604";
}

.icon-facebook:before {
    content: "\e600";
}

.icon-facebook2:before {
    content: "\e609";
}

.icon-instagram:before {
    content: "\e60a";
}

.icon-twitter:before {
    content: "\e605";
}

.icon-twitter2:before {
    content: "\e60b";
}

@font-face {
    font-family: 'Conv_HelveticaLTStd-Light';
    src: url('fonts/HelveticaLTStd-Light.eot');
    src: local('☺'), url('fonts/HelveticaLTStd-Light.woff') format('woff'), url('fonts/HelveticaLTStd-Light.ttf') format('truetype'), url('fonts/HelveticaLTStd-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Helvetica LT Std - Bold';
    src: url('fonts/Helvetica LT Std - Bold.eot');
    src: local('☺'), url('fonts/Helvetica LT Std - Bold.woff') format('woff'), url('fonts/Helvetica LT Std - Bold.ttf') format('truetype'), url('fonts/Helvetica LT Std - Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaLTStd-Roman';
    src: url('fonts/HelveticaLTStd-Roman.eot');
    src: local('☺'), url('fonts/HelveticaLTStd-Roman.woff') format('woff'), url('fonts/HelveticaLTStd-Roman.ttf') format('truetype'), url('fonts/HelveticaLTStd-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {

    background: #fefefe;
    font-family: 'Conv_HelveticaLTStd-Light', sans-serif;
    font-size: 16px;
}

body, h2, h3, h4, p {
    font-weight: 300
}

*:focus {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

hr {
    border-bottom: solid 1px rgb(239, 239, 239);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inline {
    display: inline-block !important;
    vertical-align: middle;
}

.bold {
    font-family: 'Conv_Helvetica LT Std - Bold' !important;
}

.light {
    font-family: 'Conv_HelveticaLTStd-Light', sans-serif !important;
}

.color-blue {
    color: #00345A !important;
}

.color-yellow {
    color: #FFB348 !important;
}
p{
    color: #00345A;
}
/*=================================================================
header
===================================================================*/
header {
    margin: 0 auto;
    width: 960px;
}

#bar-info {
    background: #FFB348;
    color: #00345A;
    font-size: .7em;
    font-weight: 600;
    letter-spacing: -.1em;
    padding: 5px
}

#bar-info a {
    color: #00345A;
}

#bar-info a:hover {
    text-decoration: underline;
}

ul#customer-service {
    margin: 0 30px;
    width: 370px;
}

ul#customer-service li, nav#network li {
    display: inline-block;
    vertical-align: middle;
}

#network span {
    color: #FFB348;
    line-height: 1.5em;
}

#info-aupair {
    width: 330px;
}

nav#network li {
    background: #00345A;
    border-radius: 50%;
    font-size: 1rem;
    height: 25px;
    margin: 0 5px;
    text-align: center;
    width: 25px;
}

nav#network li:hover {
    background: #005aa3;
}

nav#network li a:hover {
    text-decoration: none;
}

.slider {
    width: 960px;
    position: relative;
}

.slides li {
    position: relative;
}

.slider .contend-p {
    font-family: 'Conv_Helvetica LT Std - Bold';
    font-size: 2em;
    left: 75px;
    position: absolute;
    top: 140px;
}

.slider .contend-p p {
    background: rgba(0, 52, 90, 0.5);
    color: #FFB348;
    font-size: 2.5rem;
    display: inline;
    margin: 0 0 6px;
    max-width: 750px;
    padding: 4px 9px;
}

.flex-control-nav {
    display: none;
}

.slider-home .flex-prev, .slider-home .flex-next {
    border-radius: 50%;
    border: solid 1px #FFB348;
    color: #FFB348;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
}

.slider-home .flex-prev:hover, .slider-home .flex-next:hover {
    border-color: #00345A;
    color: #00345A;
}

.slider-home .flex-prev {
    left: 40px;
}

.slider-home .flex-next {
    right: 40px;
}

/*=================================================================
form
===================================================================*/
#formulario form {
    font-size: .9em;
    margin: 0 auto;
    width: 960px;
}

#formulario input, #formulario select, #formulario textarea {
    border: solid 1px #eee;
    color: #5d5d5d;
    height: 40px;
    padding-left: 10px;
    width: 380px;
}

#formulario textarea {
    height: 80px;
}

#formulario label {
    color: #5d5d5d;
    display: block;
    font-size: .9em;
    font-weight: 500;
    margin: 25px 0 5px;
    text-transform: uppercase;
}

#formulario .contend-input {
    margin: 0 auto;
    width: 380px;
}

#formulario .column {
    border: solid 2px #eee;
    border-top: none;
    display: inline-block;
    height: 1100px;
    margin: -3px 0 40px;
    padding: 20px;
    vertical-align: top;
    width: 480px;
}

#formulario .column:last-child {
    border-left: none;
    margin-left: -3px;
    width: 478px;
}

#formulario input[type='submit'] {
    background: #1E82CA;
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0;
    height: 50px;
    width: 150px;
}

#formulario input[type='submit']:hover {
    background: #24a4ff;
    color: #fff;
}

/*=================================================================
bar nav
===================================================================*/
.inicio #bar-nav {

    margin-top: -7px;
}

#bar-nav {
    background: #00345A;
    color: #ffffff;
    padding: 10px 10px 5px;

}

#menu {
    margin: 0 70px;
    vertical-align: middle;
}

#menu li {
    display: inline-block;
    font-size: .8em;
    vertical-align: middle;
}

#slogan-twiter {
    border-left: 2px solid #ffffff;
    font-size: 1.6em;
    font-family: 'Conv_Helvetica LT Std - Bold';
    height: 65px;
    margin: 0 30px;
    padding: 5px 8px;
}

#bar-nav .ins a {
    background: transparent;
    border: solid 1px #FFB348;
    border-radius: 15px;
    color: #fff;
    font-size: .7rem;
    /* line-height: 10px; */
    margin: 0 4px;
    /* min-width: 100px; */
    padding: 8px;
    width: 118px;
    display: inline-block;
    text-align: center;

}

#bar-nav .ins a:hover {
    background: #FFB348;
    color: #00345A;
}

#slogan-twiter div {
    display: inline-block;
    vertical-align: top
}

#slogan-twiter span {
    display: block;
    line-height: .9em;
    letter-spacing: -1px;
}

#slogan-twiter a {
    color: #ffffff;
    font-family: 'Conv_HelveticaLTStd-Light';
    font-size: .7rem;
    display: block;
}

#slogan-twiter img {
    display: inline-block;
    height: 11px;
    vertical-align: top
}

#menu a {
    color: #ffffff;
}

#menu a:hover {
    text-decoration: underline;
}

/*=================================================================
Footer
===================================================================*/
footer {
    color: #fff;
    font-size: .7em;
    text-align: justify;
    width: 100%;
}

footer h2 {
    font-family: 'Conv_Helvetica LT Std - Bold';
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
footer p{
    color: #fff;
}
footer h2 span {
    font-family: 'Conv_HelveticaLTStd-Light';
}

#customer-service-footer, #contact {
    margin-left: -3px;
    width: 50%;
    vertical-align: top;
    padding: 200px 35px 0
}

footer hr {
    border-color: transparent;
    box-shadow: 0 1px 1px rgb(225, 225, 225);
}

footer .text-service hr {
    margin-top: 10px;
}

footer #customer-service-footer .text-service hr {
    margin: 10px 0 20px;
}

footer #customer-service-footer .text-service input {
    width: 206px;
}

footer #customer-service-footer .text-service p {
    margin: 0;
}

footer #newsletter {
    width: 100%;
    position: relative;
}

footer button {
    background: #00345A;
    border: 1px solid #FFB348;
    border-radius: 10px;
    color: #ffffff;
    padding: 7px 9px;
    position: absolute;
    right: -4px;
    top: 3px;
}

footer button:hover {
    background: #FFB348;
    color: #00345A;
}
.roman{
    font-family: 'Conv_HelveticaLTStd-Roman';
}
#copy {
    background: #00345A;
    width: 100%;
}

#wrapper {
    background: url("../images/footer.png") #efefef;
    margin: 0 auto;
    width: 960px;
}

#customer-service-footer hr {
    margin-bottom: 20px;
}

#customer-service-footer a {
    color: #ffffff;
}

footer form {
    margin-left: -3px;
    vertical-align: top;
    text-align: left;
    width: 60%;
}

.more-info {
    margin-left: 8px;
    vertical-align: top;
    width: 38%;
}

.more-info p {
    font-family: 'Conv_Helvetica LT Std - Bold';
    font-size: .71rem;
    margin: 1px 0;
}

.more-info span {
    font-family: 'Conv_HelveticaLTStd-Light';;
}

.more-info p:first-child {
    margin-top: 4px;
}

.more-info p:nth-child(5) {
    margin-top: 18px;
}

.text-service {
    width: 50%;
}

.text-service p {
    margin-top: 0;
}

.border-left {
    border-left: 1px solid #ffffff;
    padding-left: 10px;
    width: 47%;
}

.border-left p:first-child {
    margin-top: 0;
}

input[type="submit"] {
    border: none;
    font-size: .8rem;
    margin-bottom: 15px;
    padding: 7px 0;
    width: 40px;
}

input[type="submit"]:hover {
    text-decoration: underline;
}

footer form input, footer form textarea, footer select {
    background: transparent;
    border: solid 1px #8AB3D1;
    border-radius: 12px;
    color: #fff;
    width: 100%;
    margin: 3px;
    padding: 7px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ffffff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ffffff;
}

input[name='age'] {
    width: 100px;
}

footer select {
    background: transparent;
    margin: 0;
    width: 136px;
    height: 28px;
    border-radius: 1000px;

}

#contact > p {
    margin-top: 20px;
}

#wrapper-copy {
    color: #FFB348;
    margin: auto;
    width: 960px;
}

#wrapper-copy div {
    padding: 40px 55px 30px 30px
}

nav#network-footer li {
    background: transparent;
    border: 1px solid #FFB348;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    margin: 10px 5px 0;
    font-size: 1rem;
    text-align: center;
    width: 25px;
}

nav#network-footer li span {
    color: #FFB348;
    line-height: 1.5em;
}

/*=================================================================
Home
===================================================================*/
#main-banner {
    background: url("../images/cenefa-01.jpg");
    color: #ffffff;
    margin: 10px 0;
    max-height: 230px;
    padding: 35px 200px;
    text-align: center;
}

#main-banner h1 span {
    font-family: 'Conv_Helvetica LT Std - Bold'
}

#main-banner p {
    color: #ffffff;
    font-size: .8em;
    line-height: 1.6em
}
#main-banner hr {
    border-color: #ffffff;
}

#main-banner a {
    background: transparent;
    border: solid 1px #FFB348;
    border-radius: 15px;
    color: #fff;
    font-size: .7rem;
    /* line-height: 10px; */
    margin: 0 4px;
    /* min-width: 100px; */
    padding: 8px;
    width: 118px;
    display: inline-block;
    text-align: center;
}

#main-banner a:hover {
    background: #FFB348;
    color: #00345A;
}

#banner-benefit {
    padding: 30px 0;
}

#banner-benefit figure {
    text-align: right;
    width: 480px;
}

#banner-benefit .contend {
    padding: 20px 0 0 10px;
    position: relative;
}

#banner-benefit .icon-contend {
    border: 4px solid #00345A;
    border-radius: 50%;
    font-size: 3em;
    font-size: 3em;
    left: -100px;
    padding: 14px;
    position: absolute;
    top: 135px;

}
.icon-signup{
    color: #00345A;
}
#banner-benefit img {
    width: 430px;
}

#banner-benefit > div {
    width: 440px;
}

#banner-benefit > div p:first-child {
    font-size: 1.05em;
    line-height: 1.4em;
    margin-left: -150px;
    text-align: justify;
}

#banner-benefit > div > p span {
    font-size: .8rem;
    display: block;
    line-height: 1.4em;
}

#banner-benefit > div h2 {
    color: #FFB348;
    font-size: 2rem;
}

#banner-benefit > div h2 span, #banner-benefit > div h3 {
    color: #00345A;
    font-family: 'Conv_Helvetica LT Std - Bold'
}

#banner-benefit > div hr {
    border: 1px solid #00345A;
    margin-bottom: 20px;
}

.item {
    font-size: .8em;
    margin: 5px 0 20px;
}

.item ul {
    margin-top: 2px;
    vertical-align: top;
}

.item p {
    margin: 0;
    vertical-align: top;
    width: 345px;
}

.item li {
    list-style-type: disc;
}

.item span {
    border: 1px #FFB348 solid;
    border-radius: 50%;
    color: #FFB348;
    font-size: 0.6rem;
    padding: 4px;
}

#banner-two {
    background: url("../images/Banner-03.jpg") no-repeat bottom;
    height: 380px;
    margin-top: -150px;
}

#banner-two figure {

    max-height: 560px;
    text-align: right;
    width: 360px;
}

#banner-two img {
    max-width: 301px
}

#banner-two article {
    color: #ffffff;
    margin-bottom: 25px;
    width: 565px;
    text-align: center;
    vertical-align: bottom;

}

#banner-two article hr {
    border-bottom: #FFB348 1px solid;
    margin: 20px 0;
}

#banner-two span {
    font-family: 'Conv_Helvetica LT Std - Bold';
    display: block;
    font-size: 1.5rem;
    line-height: 1em;
}

#banner-two p {
    color: #ffffff;
    font-size: .7rem;
    line-height: 1.3em
}

#banner-two span:nth-child(2) {
    color: #FFB348;
}

#banner-two a {
    background: transparent;
    border: solid 1px #FFB348;
    border-radius: 15px;
    color: #fff;
    font-size: .7rem;
    /* line-height: 10px; */
    margin: 0 4px;
    /* min-width: 100px; */
    padding: 8px;
    width: 118px;
    display: inline-block;
    text-align: center;
}

#banner-two a:hover {
    background: #FFB348;
    color: #00345A;
}

#blog-section {
    background: #efefef;

}

#blog-section p {
    font-size: .9em;
}

.blog {
    vertical-align: top;
    margin-left: -3px;
    width: 407px;
    position: relative;
}

#blog-section h2 {
    background: #efefef;
    color: #FFB348;
    font-size: 2em;

}

#blog-section h2 span {
    display: block;
    color: #00345A;
    font-family: 'Conv_Helvetica LT Std - Bold';
}

#blog-section article {
    display: inline-block;
    font-size: .7em;
    text-align: justify;
    vertical-align: top;
    width: 190px;
}

.slider-blog {
    width: 435px;
}

.slider-blog .flex-direction-nav {
    position: absolute;
    right: 30px;
    top: 40px;
}

.slider-blog .flex-prev {
    right: 20px;
}

.slider-blog .flex-prev, .slider-blog .flex-next, .slider-video .flex-prev, .slider-video .flex-next {
    border-radius: 50%;
    border: solid 1px #FFB348;
    color: #FFB348;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
}

.slider-blog .flex-direction-nav li a:hover {
    border: solid 1px #00345A;
    color: #00345A;
}

.slider-video .flex-direction-nav {
    position: absolute;
    right: 30px;
    top: 40px;
}

.slider-video .flex-prev {
    right: 20px;
}

.margin-right {
    margin-right: 40px;
}

#blog-section article figure {
    background: #00345A;
    height: 120px;
}

#content-blog div:first-child {
    padding-right: 15px;
}

#content-blog div:last-child {
    padding-left: 15px;
}

.content-blog {
    padding: 40px 43px 0
}

.blog:first-child {
    margin-right: 40px;
}

.blog time {
    color: #FFB348;
    line-height: 0;
    padding: 30px 0 18px;
    text-align: center;
    width: 55px;
}

#blog-section .blog h3 {
    font-size: 1.2rem;
    text-align: left;
    padding-top: 8px;
    width: 130px;
}

#blog-section .blog h3 span {

    font-family: 'Conv_Helvetica LT Std - Bold';
}

#blog-section hr {
    border-bottom: #00345A 1px solid;
    margin-bottom: 12px
}

#blog-section time hr {
    border-bottom: #00345A 1px solid;
    margin: 10px 12px;
}

#blog-section time span:first-child {
    display: block;
    font-size: 1.5rem;
}

#blog-section time span:last-child {
    font-size: .7em
}

#blog-section .blog-second h3, .blog-second p {
    width: 100%;
}

#blog-section .blog-second h3 {
    padding: 17px 0 4px
}

.blog-second p {
    font-size: .8rem;
}

.video {
    background: #00345A;
    height: 240px;
    width: 100%;

}

.read-more {
    color: #FFB348;
    padding: 0 10px;
    margin-bottom: 10px;
    display: block;

}

.read-more:hover {
    cursor: pointer;
    text-decoration: underline;
}

#program {
    background: url("../images/Banner-02.jpg");
    color: #ffffff;
    font-size: .8em;
    text-align: center;
}

.icon-program {
    border: 1px #FFB348 solid;
    border-radius: 50%;
    font-size: 2.5rem;
    padding: 10px;
    vertical-align: top;
}
.icon-program2{
    font-size: 2.8rem;
    padding: 0 10px;
    vertical-align: top;
}
#program {
    height: 285px;
}

#program > ul > li {
    display: inline-block;
    font-size: .75rem;
    text-align: left;
    vertical-align: top;
    width: 265px;
}

#program li ul {
    padding-left: 5px;
    width: 185px;
}

#program li ul li {
    list-style: disc inside none;
}

#program li p {
    color: #ffffff;
    margin: 0;
    padding-left: 5px;
    width: 185px;
}

#program hr {
    width: 800px;
}

#program h2 {
    font-size: 2.4rem;
    color: #FFB348;
    padding: 50px 0 5px;
}

#program h2 span {
    color: #ffffff;
}

#program > p {

    color: #ffffff;
    margin: 20px auto;
    width: 800px;
}

#program-contend {
    background: #efefef;
    padding: 30px;
    text-align: justify;
}

#program-contend h3 {
    font-size: 1.8rem;
    color: #FFB348;
    font-family: 'Conv_HelveticaLTStd-Roman';
}

#program-contend h3 span {
    font-size: 1.4rem;
    color: #FFB348;
}

#program-contend p {
    color: #00345A;
    font-size: .9rem;
}

.column-3 {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    width: 277px;
}

section .column-3:last-child {
    margin-right: 0;
}
.slider-evento{
    position: relative;
}
.slider-evento .flex-prev, .slider-evento .flex-next {
    border-radius: 50%;
    border: solid 1px #FFB348;
    color: #FFB348;
    height: 30px;
    left: 355px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 30px;
}
.slider-evento .flex-prev{
    left: 310px;
}
/*=================================================================
Quienes somos
===================================================================*/

#banner-about {
    background: url("../images/Banner-Quienes.jpg");
    color: #FFB348;
    height: 250px;
    position: relative;
}

#banner-about span {
    color: #ffffff;
}

.contend-wrapper {
    padding: 30px;
}

#banner-about h1 {
    bottom: 20px;
    font-size: 2.4rem;
    left: 40px;
    position: absolute;
}

.conocenos .wrapper {
    color: #00345A;
}

.conocenos .wrapper p {
    font-size: .9rem;
    text-align: justify;
}

.conocenos .wrapper h2 {
    color: #FFB348;
}

.conocenos .wrapper hr {
    border-color: #00345A;
}

.conocenos .column-4 span {
    font-size: 1.25rem;
    display: block;
}

.conocenos .column-4 span.font-1 {
    font-size: 1rem;
}

.conocenos .column-4 p {
    text-align: justify;
}

.conocenos img {
    margin-bottom: 10px;
}

.conocenos img {
    margin-bottom: 10px;
}

.conocenos .right a {
    background: transparent;
    border: solid 1px #FFB348;
    border-radius: 15px;
    color: #00345A;
    font-size: .7rem;
    line-height: 10px;
    margin: 0 4px;
    min-width: 100px;
    padding: 8px;
}

.conocenos .right a:hover {
    background: #FFB348;
}

/*=================================================================
Servivio al cliente
===================================================================*/
#banner-cliente {
    background: url("../images/Servicio-al-cliente.jpg");
    color: #FFB348;
    height: 250px;
    position: relative;
}

#banner-cliente span {
    color: #ffffff;
}

#banner-cliente h1 {
    bottom: 20px;
    font-size: 2.4rem;
    left: 40px;
    position: absolute;
}

.servicio-al-cliente .wrapper{
    font-size: .9em;
    text-align: justify;

}

.servicio-al-cliente hr {
    border-color: #00345A;
}

#service {
    margin: 20px 0;
}

#service li {
    border: 1px solid #00345A;
    border-radius: 10px;
    color: #00345A;
    margin-bottom: 10px;
    padding: 10px;
}

.tel {
    font-size: 2.5rem;
}

#service .column-4 input {
    width: 100;
}

#service .column-4 input,
#service .column-4 textarea,
#service .column-4 select,
#service .column-2 input,
#service .column-2 textarea,
#service .column-2 select

{
    background: transparent;
    border: solid 1px #00345A;
    border-radius: 12px;
    color: #00345A;
    width: 100%;
    margin: 3px;
    padding: 7px;
}

#service .column-4 input[type="submit"],
#service .column-2 input[type="submit"] {
    border: none;
    font-size: .8rem;
    margin-bottom: 15px;
    padding: 7px 0;
    width: 40px;
}

#service .column-4 textarea {
    height: 100px;
}

#service ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #00345A;
}

#service  .column-4 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #00345A;
    opacity: 1;
}

#service  .column-4 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #00345A;
    opacity: 1;
}

#service .column-4 :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #00345A
}

#service .cc {
    width: 30%;
}

#service .expediente {
    margin-right: 0;
    width: 67%;
}
#question p{
    display: none;
}
#question h3{
    color: #FFB348;
    cursor: pointer;
}
/*=================================================================
inscribete
===================================================================*/
#banner-inscribete {
    background: url("../images/inscribete.jpg");
    color: #FFB348;
    height: 250px;
    position: relative;
}

#banner-inscribete span {
    color: #ffffff;
}

#banner-inscribete h1 {
    bottom: 20px;
    font-size: 2.4rem;
    left: 40px;
    position: absolute;
}

.inscribete {
    font-size: .9em;
}

.inscribete #service li {
    border: none;
    margin: 0;
    padding: 0;
}

.inscribete #service h2 {
    color: #FFB348;
}

.inscribete #service h3 {
    color: #FFB348;
    font-size: 1.5rem;
    padding: 20px 0;
}

.inscribete #service .contend-h2 > span {

    display: inline-block;
    color: #FFB348;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.inscribete hr {
    border-color: #00345A;
    margin: 21px 0 22px;

}

.inscribete label {
    margin: 5px 0 -1px 10px;
    display: block;
    font-size: .8rem;

}

.inscribete #service .medios {
    padding-bottom: 10px;
}

.inscribete .column-4 input, .inscribete .column-4 select, .inscribete .column-4 textarea {
    font-size: .75em;
    margin-bottom: 4px !important;
}

#blog-section time .hr-time {
    margin: 0 1px;

}

.blog .blog-time {
    line-height: normal;
    padding: 4px 0;
    width: auto;

}

.share {
    color: #00345A;
    font-size: .8em;
    text-align: right;
    width: 333px;
}

.share .icon-facebook, .share .icon-twitter {
    border: 1px solid #FFB348;
    border-radius: 50%;
    color: #FFB348;
    padding: 5px;
}

#comment-form input,#comment-form textarea {
    background: transparent;
    border: 1px solid #00345A;
    border-radius: 10px;
    font-size: .8rem;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

#comment-form ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #00345A;
}
#comment-form input[type='submit'] {
    border:none;
    text-align: left;
}
#comment-form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #00345A;
    opacity: 1;
}

#comment-form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #00345A;
    opacity: 1;
}

#comment-form :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #00345A;
}
#submenu{
    background: #00345A;
    font-size: 1rem;
    display: none;
    z-index: 1000;
}
#submenu li{
    display: block;
    width: 111px;
    padding: 5px;

}
#menu li:hover #submenu {
    display: block;
    position: absolute;

}
#nuestros-cursos{
    background: url("http://local.juan2ramos.com/formularioAupair/css/../images/Nuestros-cursos.jpg") no-repeat center;
    position: relative;
    height: 255px;
}
#nuestros-cursos figure{
    left: 50px;
    position: absolute;
    top: -75px;
    width: 270px;
}
#nuestros-cursos figure img{
    max-width: 250px;
}

#nuestros-cursos div{
    margin: 60px 190px;
}
#nuestros-cursos div p{
    color: #00345A;
    margin: 0;
    position: relative;
    width: 725px;
}
#nuestros-cursos div span{
    position: absolute;
    right: 0;
}
#nuestros-cursos div span{
    position: absolute;
    right: 0;
}
#nuestros-cursos ul{
    margin: 0 370px;
    font-size: 1.2rem;
    width: 400px;
}
#nuestros-cursos a{
    color: #ffffff;
}
#nuestros-cursos a:hover{
    text-decoration: underline;
}
#nuestros-cursos li{
    display: inline-block;
    padding-bottom: 18px;
    vertical-align: middle;
    width: 170px;
}
#nuestros-cursos li span{
    color: #FFB348;
    padding-right: 5px;
}

/*=================================================================
State
===================================================================*/

.clear-bottom {
    margin-bottom: 0;
}

.column-2 {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    width: 433px;
}

section .column-2:last-child {
    margin-right: 0;
}

.column-4 {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    width: 199px !important;
}

section .column-4:last-child {
    margin-right: 0 !important;
}

.menu-fixed #bar-info, .menu-fixed #bar-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 960px;
    margin-left: -480px;
    left: 50%;
}

.menu-fixed #bar-nav {
    z-index: 99;
    top: 35px;
}

.menu-fixed .wrapper {
    margin-top: 125px;
}

.right {
    text-align: right;
}

.wrapper {
    background: #efefef;
    margin: 115px auto 0;
    width: 960px;
}

.menu-fixed .wrapper-inicio {
    margin-top: 400px;

}
 .menu-fixed #inicio {
    margin-top: 145px;
}
.inicio .wrapper {
    margin: 0 auto;
}

.big-p {
    color: #00345A;
    font-size: 1.1rem !important;
}
#banner-program {
    background: url("../images/programa.jpg");
    color: #FFB348;
    height: 250px;
    position: relative;
}

#banner-program span {
    color: #ffffff;
}
#banner-program h1{
    bottom: 20px;
    font-size: 2.4rem;
    left: 40px;
    position: absolute;
}
.programa .contend-wrapper p{
    font-size: .9rem;
    text-align: justify;
}
.programa .contend-wrapper hr{
    border-color: #00345A;
}
.programa .contend-wrapper h2{
    color: #FFB348;
}
.programa .contend-wrapper .item{
    margin: 5px 3px 7px;
    width: 350px;

}
.programa .contend-wrapper .item p{
    width: 300px;

}
.programa .contend-wrapper .profile{
    border: 2px solid #00345A;
    border-radius: 50%;
    font-size: 3rem;
    margin-top: -6px;
    padding: 10px;
    text-align: center;
}
.programa .right a {
    background: transparent;
    border: solid 1px #FFB348;
    border-radius: 15px;
    color: #00345A;
    font-size: .7rem;
    line-height: 10px;
    margin: 0 4px;
    min-width: 100px;
    padding: 8px;
}
.programa .right a:hover{
    background: #FFB348;
}
.programa-china .contend-wrapper p ,.programa-usa .contend-wrapper p,.programa-alemania .contend-wrapper p,.programa-francia .contend-wrapper p{
    font-size: .8rem;
}
.programa-china .contend-wrapper hr,.programa-usa .contend-wrapper hr,.programa-alemania .contend-wrapper hr, .programa-francia .contend-wrapper hr{
    border-color: #00345A;
}
#menu-tabs li{
    background: rgb(231, 230, 230);
    color: #00345A;
    cursor: pointer;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: -4px;
    padding: 20px 15px 15px;
    vertical-align: middle;
    width: 300px;
}
#menu-tabs li.active-tab{

    background: #00345A;
    color: #FFB348;
    font-family: 'Conv_Helvetica LT Std - Bold';
}
#tabs h4{
    color: #00345A;
}
#tabs li{
    display: none;
    margin: 20px 0;
}
#tabs p{
    margin: 0;
}
#tabs li.show{
    display: block;
}
.min-p{
    font-size: .7rem !important;
    margin: 0;

}
.tel-min{
    font-size: 1.5rem;
}
.requisitos{
    margin: 20px 0;
}
.requisitos p{
    margin: 0;
}
.eventos hr{
    border-color: #00345A;
}
.oktober .evento-contend p{
    font-size: .8rem;
    text-align: justify;
    padding-left: 20px;
    width: 510px;
}
.oktober div{
    vertical-align: top;
}
.oktober h2{
    color: #FFB348;
    padding: 5px 0;
    vertical-align: middle;
}
.oktober .icon-facebook, .oktober .icon-twitter{
    color: #FFB348;
    border: 1px solid #FFB348;
    border-radius: 50%;
    display: inline-block;
    padding: 5px 5px;

}
.slider .contend-p p.light-p{
    background: none !important;
    color: #FFFFFF !important;
    font-size: 1.7rem;
    font-family: 'Conv_HelveticaLTStd-Roman';
    padding: 0;
    display: inline-block;
    margin: 15px 0;
    line-height: 24px;
}
.slider .contend-p p.light-p a{
    margin: 12px 0;
    font-size: 1.2rem;
    display: inline-block;

}
.slider .contend-p p.light-p a:hover{
    text-decoration: underline;

}
iframe{
    border: none;
}
.funcionarios .wrapper{
    margin-top: 115px;
    text-align: center;
}
.funcionarios .wrapper h2{
    font-size: 2rem;
    padding: 30px 0 0;
}
.funcionarios .wrapper hr{
    border-color: #00345A;
    margin: 0 auto 15px;
    width: 350px;
}
.funcionarios .wrapper p{
    margin: auto;
    width: 350px;
    text-align: justify;
}
.contend-span{
    margin: 10px auto 0;
    width: 350px
}
.contend-span span{
    color: #00345A;
    display: inline-block;
    text-align: left;
}
.contend-span a{
    color: #00345A;
}
.contend-span a:hover{
    text-decoration: underline;
}
.contend-span span:first-child{
    width: 170px;
}

.contend-span span:last-child{
    text-align: right;
    width: 168px;
    margin-right: -2px;
}
.center{
    text-align: center !important;
    margin: 35px 0 !important;
}



#banner-programas {
    background: url("../images/programas-pais.jpg");
    color: #FFB348;
    height: 250px;
    position: relative;
}

#banner-programas span {
    color: #ffffff;
}

#banner-programas h1 {
    bottom: 20px;
    font-size: 2.4rem;
    left: 40px;
    position: absolute;
}
@media screen and (max-width: 960px) {
    #formulario .column, #formulario .column:last-child {
        border: none;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    #formulario .contend-input {
        width: 400px;
        margin: 0 auto;
    }

    #formulario form {
        width: 100%;
    }
}